{% extends "base.html" %}
{% block body %}


<div class="row">
  <div class="col-lg-3 col-xs-9">
    <div class="input-group">
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>

    </div><!-- /input-group -->

  </div><!-- /.col-lg-6 -->
  <div class="col-lg-3 col-xs-3">
    <button class="btn btn-default" type="button">Profile</button>
</div><!-- /.row -->



<div class="row">
  <div class="col-lg-12 col-xs-12">
	<div class="btn-group">
	  <button type="button" class="btn btn-default">Top Sites</button>
	  <button type="button" class="btn btn-default">Friends</button>
	</div>
  </div>
</div>


{% endblock %}
